<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card card-chart">
              <div class="card-body table-responsive">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <h4>Sales Org</h4>
                          <mat-form-field appearance="fill">
                              <mat-label>Sales Org</mat-label>
                              <mat-select [value]="4">
                                <mat-option [value]="1">All</mat-option>
                                <mat-option [value]="2">IN03</mat-option>
                                <mat-option [value]="3">IN04</mat-option>
                                <mat-option [value]="4">PK01</mat-option>
                                <mat-option [value]="5">CN01</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <h4>TimeFrame</h4>
                        <mat-form-field appearance="fill">
                            <mat-label>Time Frame</mat-label>
                            <mat-select [value]="2">
                                <mat-option [value]="1">Current Month vs Last 3 Months</mat-option>
                                <mat-option [value]="2">Current Month vs Last 6 Months</mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Order Created<span class="right"><b>229</b></span></h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 4% </span> increase in current month order.
                        </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">access_time</i>  -->
                          <h6>Monthly Average Order</h6> 
                      </div>
                      <div class="right">
                        <h4><b>220</b></h4>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Action Form Generated<span class="right"><b>2</b></span></h4>
                      <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-down"></i> 50% </span> decrease in current month action form.
                      </p>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <!-- <i class="material-icons">access_time</i>  -->
                        <h6>Monthly Average Action Forms</h6> 
                    </div>
                    <div class="right">
                      <h4><b>4</b></h4>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Avg Processing Time<span class="right" alt="Test"><b>4m:30s</b></span></h4>
                      <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-down"></i> 10% </span> decrease in current month processing time.
                      </p>
                      <!-- It does not include orders requiring Human Intervention (Action Form) -->
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <!-- <i class="material-icons">access_time</i>  -->
                        <h6>Monthly Average Processing Time</h6> 
                    </div>
                    <div class="right">
                      <h4><b>5m:10s</b></h4>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                    <div class="ct-chart" id="botViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Bot Activity</h4>
                    <p class="card-category">
                        The above chart shows the bot active or inactive state
                    </p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                      <i class="material-icons">access_time</i>Refreshes every one hour
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>